{% extends "base.html" %}

{% block form %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<a href="{% url 'register' %}">Register</a>
{% endblock %}
